<!-- /.row-->
<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> League Listing
        </div>
        <div class="card-body">
          <table class="table table-responsive-sm table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>League ID</th>
                <th>League Name</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let league of leagueList" >
                <td>{{ league.league_id }}</td>
                <td>{{ league.league_abbr }}</td>
                <td>
                    <span class="badge" [ngClass]="{'badge-success': (league.status == 1), 'badge-danger': (league.status == 0)}"
                    >{{leagueStatus[league.status] }}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- /.col-->
  </div>
  <!-- /.row-->
