<!-- /.row-->
<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> User Listing
          <div class="input-group">
                <span class="input-group-prepend">
                  <button class="btn btn-primary" type="button" (click)="searchFilter();">
                    <i class="fa fa-search"></i> Search</button>
                </span>
                <input class="form-control" [(ngModel)]="params['keyword']" id="search_keyword" type="text" name="search_keyword" placeholder="Username" placeholder="Search by name, email">
              </div>
        </div>
        <div class="card-body">
          <table class="table table-responsive-sm table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Balance</th>
                <th>Country </th>
                <th>Image</th>
                <th>Member Since</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let user of userList" >
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.balance }}</td>
                <td>{{ user.country_name }} </td>
                <td><img src="{{ user.image }}" class="userImage">  </td>
                <td>{{ user.member_since }} </td>
                <td>
                    <span class="badge" [ngClass]="{'badge-success': (user.status == 1), 'badge-secondary': (user.status == 0), 'badge-danger': (user.status > 1)}"
                    >{{userStatus[user.status] }}</span>
                </td>
                <td>
                  <a href="javascript:void(0);" >Details</a>
                  <a href="javascript:void(0);" >Edit</a>
                </td>
              </tr>
            </tbody>
          </table>
          <nav *ngIf="totalUsers > 0">
            <ul class="pagination">
              <li class="page-item" *ngIf="params.current_page > 1" >
                <a class="page-link" href="javascript:void(0);" (click)="nextOrPreviousPage(-1)">Prev</a>
              </li>
              <li class="page-item active" [ngClass]="{'active': (page == params.current_page)}"  *ngFor="let page of totalPaginationShow">
                <a class="page-link" href="javascript:void(0);" (click)="paginateList(page)">{{ page }}</a>
              </li>
              <li class="page-item" *ngIf="params.current_page != totalPages">
                <a class="page-link" href="javascript:void(0);" (click)="nextOrPreviousPage(1)">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!-- /.col-->
  </div>
  <!-- /.row-->
