/* ========================================================
*
* It's Brain - premium responsive admin template
*
* ========================================================
*
* File: brain-theme.css;
* Description: Bootstrap theme for It's Brain template.
* Version: 1.0
*
* ======================================================== */



html {
  height: 100%;
}

body { 
  background: url(../images/interface/background.png) repeat; 
  font-size: 12px; 
  min-height: 100%; 
  position: relative; 
  color: #ddd;
  padding-top: 36px;
}

body.static-navbar {
  padding-top: 0;
}


a {
  cursor: pointer;
  color: #fff;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: 0;
  color: #ddd;
}

hr {
  border-color: #4B4E50;
}

label {
  font-weight: 500;
}


h1,
.h1 {
  font-size: 24px;
}
h2,
.h2 {
  font-size: 22px;
}
h3,
.h3 {
  font-size: 20px;
}
h4,
.h4 {
  font-size: 18px;
}
h5,
.h5 {
  font-size: 16px;
}
h6,
.h6 {
  font-size: 14px;
}


.h1 .label, 
.h2 .label, 
.h3 .label, 
.h4 .label, 
.h5 .label, 
.h6 .label, 
h1 .label, 
h2 .label, 
h3 .label, 
h4 .label, 
h5 .label, 
h6 .label {
  vertical-align: middle;
}

.heading-underline {
  padding-bottom: 8px;
  margin-bottom: 20px;
  border-bottom: 1px solid #4A4F51;
}


/* Icons inside heading */

h1 .fa, 
.h1 .fa { 
  margin: 5px 8px 0 0; 
  float: left; 
}
h2 .fa, 
.h2 .fa { 
  margin: 5px 8px 0 0; 
  float: left; 
}
h3 .fa, 
.h3 .fa { 
  margin: 3px 8px 0 0; 
  float: left; 
}
h4 .fa, 
.h4 .fa { 
  margin: 2px 8px 0 0; 
  float: left; 
}
h5 .fa, 
.h5 .fa { 
  margin: 0 8px 0 0; 
  float: left; 
}
h6 .fa, 
.h6 .fa { 
  margin: 0 8px 0 0; 
  float: left; 
}




/*===== Lists =====*/ 

ul, ol {
  padding-left: 16px;
}

ul.square, 
ol.square { 
  list-style-type: square; 
  margin: 0; 
  padding-left: 26px; 
}

ul.icons-list { 
  list-style-type: none; 
  margin-left: 0; 
  margin-bottom: 0; 
  padding-left: 10px; 
}
ul.icons-list > li { 
  margin-top: 6px; 
}
ul.icons-list > li i { 
  float: left; 
  margin: 0 6px 0 0; 
}

ul.icons-list > li > ul { 
  margin: 0; 
  padding-left: 40px; 
}
ul.icons-list li ul li:first-child { 
  margin-top: 6px; 
}

ul.icons-list > li:first-child { 
  margin-top: 0; 
}


dl {
  margin-bottom: 0;
}
dt {
  font-weight: bold;
}
dd + dt {
  margin-top: 10px;
}





/*===== Adding vertical spacing to responsive grid =====*/ 

@media (max-width: 767px) {
  [class*="col-sm-"] + [class*="col-sm-"] { 
    margin-top: 20px; 
  }
  label[class*="col-sm-"] + [class*="col-sm-"] { 
    margin-top: 0; 
  }
  [class*="col-sm-"] + [class*="col-xs-"], 
  [class*="col-sm-"] + [class*="col-md-"], 
  [class*="col-sm-"] + [class*="col-lg-"] { 
    margin-top: 0; 
  }

  .form-horizontal label[class*="col-sm-"] { 
    padding-top: 0; 
  }
}


@media (max-width: 991px) {
  [class*="col-md-"] + [class*="col-md-"] { 
    margin-top: 20px; 
  }
  label[class*="col-md-"] + [class*="col-md-"] { 
    margin-top: 0; 
  }
  [class*="col-md-"] + [class*="col-xs-"], 
  [class*="col-md-"] + [class*="col-sm-"], 
  [class*="col-md-"] + [class*="col-lg-"] { 
    margin-top: 0; 
  }

  .form-horizontal label[class*="col-md-"] { 
    padding-top: 0; 
  }
}


@media (max-width: 1199px) {
  [class*="col-lg-"] + [class*="col-lg-"] { 
    margin-top: 20px; 
  }
  label[class*="col-lg-"] + [class*="col-lg-"] { 
    margin-top: 0; 
  }
  [class*="col-lg-"] + [class*="col-xs-"], 
  [class*="col-lg-"] + [class*="col-sm-"], 
  [class*="col-lg-"] + [class*="col-md-"] { 
    margin-top: 0; 
  }

  .form-horizontal label[class*="col-lg-"] { 
    padding-top: 0; 
  }
}






/* ===== Contextual backgrounds ===== */

.bg-primary, .bg-primary a {
  color: #fff;
  background-color: #496D80;
}

.bg-success, .bg-success a {
  color: #fff;
  background-color: #3E9475;
}
.bg-info, .bg-info a {
  color: #fff;
  background-color: #3C9AC9;
}
.bg-warning, .bg-warning a {
  color: #fff;
  background-color: #DD845A;
}
.bg-danger, .bg-danger a {
  color: #fff;
  background-color: #E06C5F;
}





/*===== Text styles and colors =====*/ 

.text-primary {
  color: #428bca;
}
.text-warning {
  color: #C7845E;
}
.text-danger {
  color: #CA7A71;
}
.text-success {
  color: #629E7A;
}
.text-info {
  color: #7495B1;
}

.text-semibold {
  font-weight: 500;
}
.text-smaller {
  font-size: 11px;
}
.display-block {
  display: block;
}
.position-relative {
  position: relative;
}
small.display-block {
  margin-top: 4px;
}

code {
  background-color: #3D4344;
  border-radius: 2px;
  white-space: normal;
  color: #EBB297;
  padding: 4px 6px;
  border: 1px solid #292D30;
}

pre {
  border-radius: 0;
  background-color: #282C2E;
}

blockquote {
  padding: 0 0 0 15px;
  margin: 0;
  font-size: 14px;
  border-left-color: #65B688;
}
.well blockquote {
  border-color: #ddd;
}



/* ===== Containers ===== */

.container-fluid {
  padding: 0 30px;
}

.page-container {
  position: relative;
}


@media (max-width: 768px) {
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
}










.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #3C9AC9;
}





/* ===== Navbars ===== */

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  min-height: 36px;
  font-size: 11px;
}

.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
  margin-left: 0;
  margin-right: 0;
}



/* Navbar toggle */

.navbar-toggle {
  display: block; 
  float: right; 
  border: 0; 
  padding: 11px; 
  line-height: 1;
  margin: 0;
  border-radius: 0;
}

.navbar-default .navbar-toggle {
  background-color: #eee; 
  color: #333;
}
.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
  background-color: #ddd;
}

.navbar-inverse .navbar-toggle {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}
.navbar-inverse .navbar-toggle:hover, 
.navbar-inverse .navbar-toggle:focus {
  background-color: #3C9AC9;
  color: #fff;
}


.navbar-header:after {
  content: "";
  display: table;
  clear: both;
}


.navbar-brand {
  padding: 8px 0 7px 0;
  margin-right: 20px;
  height: auto;
}


.navbar .btn {
  padding: 5px 12px 6px 12px;
  font-size: 11px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

.navbar-btn {
  margin: 4px 15px;
}

.navbar-text {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 11px;
}


.navbar-form {
  margin: 4px 0;
  padding: 0 12px;
}
.navbar-default .navbar-form,
.navbar-default .navbar-btn {
  margin: 4px 0;
}

.navbar-form .form-control {
  font-size: 11px;
  padding: 6px 8px 5px 8px;
  height: auto;
  background-color: #35393B;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.panel .navbar .form-group:first-child, 
.well .navbar .form-group:first-child {
  margin-top: 0;
}

.navbar-form,
.navbar-btn {
  margin: 5px 0;
}




/* Inverse navbar */

.navbar-inverse {
  background: #212429;
  border-color: transparent;
  border-bottom-color: #4A4F51;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  background-color: #2f2f2f;
}
.navbar-inverse .navbar-nav > li {
  border-right: 1px solid #444;
}
.navbar-inverse .navbar-nav > li:first-child {
  border-left: 1px solid #444;
}

.navbar-inverse .form-control,
.navbar-inverse .btn {
  border: 0;
}

.navbar-inverse .navbar-text,
.navbar-inverse .navbar-link {
  color: #fff;
}



/* Default navbar */

.navbar-default {
  border-color: transparent;
  border-bottom-color: #E7E7E7;
}
.navbar-default .navbar-nav > li {
  border-right: 1px solid #e5e5e5;
}
.navbar-default .navbar-nav > li:first-child {
  border-left: 1px solid #e5e5e5;
}
.navbar-default .navbar-nav > li > a {
  color: #333;
}
.navbar-default .navbar-text,
.navbar-default .navbar-link {
  color: #333;
}




/* ===== Navbar nav ===== */

.navbar-nav {
  margin: 0;
}
.navbar-nav > li {
  font-size: 11px;
}
.navbar-nav > li > a {
  padding: 8px 12px;
}
.navbar-nav > li > a > i {
  margin-right: 6px;
}
.navbar-nav > li > a .label {
  margin-left: 6px;
}
.navbar-nav > li > a .caret {
  margin-right: 0;
}

.navbar-nav > li > a .fa {
  top: 1px;
}
.navbar-nav .nav-icon .fa {
  margin-right: 0;
}

.navbar-nav > li > .dropdown-menu {
  margin-top: 2px;
}

.navbar-nav.navbar-right:last-child {
margin-right: 0;
}

.navbar-control {
  width: 100%;
  padding: 0 30px;
}
.navbar-control:after {
  content: "";
  display: table;
  clear: both;
}

.navbar-left-custom,
.navbar-nav.navbar-left-custom > li {
  float: left;
}

@media (max-width: 991px) {

  .navbar {
    padding: 0;
  }

  .navbar .container-fluid {
    padding: 0;
  }

  .nav .sidebar-toggle {
    display: none;
  }

  .navbar-toggle {
    margin-left: 1px;
    float: left;
  }

  .navbar-header {
    width: 100%;
    float: none;
  }
  .container-fluid .navbar-header {
    padding: 0 30px;
  }

  .navbar-form {
    width: 100%;
    margin: 0;
    text-align: center;
    border-bottom: 0;
  }
  .navbar-inverse .navbar-form {
    background: #2a2a2a;
    border-top: 1px solid #444;
  }
  .navbar-default .navbar-form {
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
  }
  .navbar-form .form-group {
    display: block;
  }
  .navbar-form .form-control {
    margin: 12px 0;
    width: 100%;
  }
  .navbar-form .btn {
    margin-bottom: 12px;
  }


  .navbar-btn {
    margin: 12px 0;
  }


  .navbar-text {
    margin-top: 12px;
    margin-bottom: 12px;
  }


  .navbar-left,
  .navbar-right {
    float: none;
    width: 100%;
    text-align: center;
    font-size: 0;
  }
  .navbar-inverse .navbar-left,
  .navbar-inverse .navbar-right {
    border-top: 1px solid #444;
    background: #2a2a2a;
  }
  .navbar-default .navbar-left,
  .navbar-default .navbar-right {
    border-top: 1px solid #ddd;
    background: #f5f5f5;
  }

  .navbar-default .navbar-form,
  .navbar-default .navbar-btn {
    margin: 0;
  }

  .navbar-nav > li {
    float: none;
    display: inline-block;
  }

  .navbar-nav .open .dropdown-menu {
    position: absolute;
    float: left;
    margin-top: 2px;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  .navbar-nav .open .dropdown-menu>li>a, 
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 10px 10px 9px 10px;
  }
  .navbar-nav .open .dropdown-menu>li>a {
    line-height: 1.42857143;
  }


  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #333;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover, 
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus {
    background-color: #3E9475;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a.active {
    background-color: #3E9475;
  }


}


@media (max-width: 480px) {
  .navbar-nav > li > a > span {
    display: none;
  }
  .navbar-nav > li > a > i {
    margin-right: 0;
  }
}


@media (max-width: 768px) {
  .container-fluid .navbar-header {
    padding-left: 15px;
    padding-right: 15px;
  }
}


/* User dropdown */
.user.dropdown { vertical-align: top; }
.user.dropdown > a { padding-top: 0; padding-bottom: 0; }
.user.dropdown > a > img { float: left; margin: 6px 0; max-height: 24px; }
.user.dropdown > a > span { display: inline-block; margin: 8px 0 8px 8px; }

.navbar-inverse .user.dropdown > a {
  color: #fff;
}

@media (max-width: 480px) {
  .user.dropdown > a > span,
  .user.dropdown > a > .caret {
    display: none;
  }
}



/* ===== Page header ===== */

.page-header {
  margin: 0;
  padding: 23px 0;
  border-bottom: 0;
}

.page-header:after {
  content: ""; 
  display: table;
  clear: both;
}


@media (max-width: 768px) {
  .page-header {
    text-align: center;
    padding: 15px 0 20px 0;
  }
  .page-header .logo {
    float: none;
  }
}

@media (min-width: 992px) {

  .navbar-form,
  .navbar-text,
  .navbar-nav,
  .navbar-button,
  .sidebar {
    display: block;
  }

  .navbar-toggle {
    display: none;
  }

}





/* ===== Label, badge ===== */

.label, .badge {
  font-size: 11px;
  padding: 3px 7px 4px 7px;
  line-height: 13px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

.badge {
  background: #3E9475;
}

.label-block {
  margin-top: 6px;
  display: block;
}
.label-block.text-left {
  text-align: left;
}
.label-block.text-right {
  text-align: right;
}


.label-default {
  background-color: #999999;
}
.label-default[href]:hover,
.label-default[href]:focus {
  background-color: #808080;
}

.label-primary {
  background-color: #496D80;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #3071a9;
}

.label-success {
  background-color: #3E9475;
}
.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #449d44;
}

.label-info {
  background-color: #3C9AC9;
}
.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #31b0d5;
}

.label-warning {
  background-color: #DD845A;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #ec971f;
}

.label-danger {
  background-color: #E06C5F;
}
.label-danger[href]:hover,
.label-danger[href]:focus {
  background-color: #c9302c;
}





/* ===== Buttons ===== */

.btn {
  font-size: 12px;
  padding: 7px 14px 8px 14px;
  border-radius: 2px;
  font-weight: bold;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset;
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.15) inset;
  border-color: #262B2E;
  color: #fff;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

.btn:hover,
.btn:focus, 
.btn:active:focus, 
.btn.active:focus {
  outline: 0;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.open .dropdown-toggle.btn {
  border-color: #262B2E;
}

.btn:active,
.btn.active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}



/* Button sizing */

.btn-lg,
.btn-group-lg > .btn {
  padding: 9px 18px 10px 18px;
  font-size: 12px;
  line-height: 1.42857143;
  border-radius: 2px;
}

.btn-sm,
.btn-group-sm > .btn {
  padding: 6px 12px 7px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  border-radius: 2px;
}

.btn-xs,
.btn-group-xs > .btn {
  padding: 5px 10px 6px 10px;
  font-size: 12px;
  line-height: 1.42857143;
  border-radius: 2px;
}


.btn > i {
  float: left;
  margin: 2px 6px 0 0;
}


.btn-icon { 
  padding: 7px; 
}
.btn-lg.btn-icon { 
  padding: 9px; 
}
.btn-sm.btn-icon { 
  padding: 6px; 
}
.btn-xs.btn-icon { 
  padding: 5px; 
}

.btn-icon i { 
  display: inline-block; 
  padding: 2px; 
  margin: 0; 
}

.btn-lg .caret {
  border-width: 3px 3px 0;
}

.btn .caret {
  margin-left: 2px;
}

.btn.btn-icon .caret {
  margin: 7px 3px;
}

.btn .caret.caret-split {
  margin-left: 1px;
  margin-right: 1px;
}



/* Button default */

.btn-default {
  background-color: #496D80;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #FFF;
  background-color: #456779;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-color: #44687A;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #44687A;
  border-color: #262B2E;
}




/* Button primary */

.btn-primary {
  background-color: #536066;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #4C595F;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-color: #56646B;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #56646B;
  border-color: #262B2E;
}


/* Button success */

.btn-success {
  background-color: #3E9475;
}
.btn-success:hover,
.btn-success:focus {
  background-color: #289C72;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-color: #1C8F65;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #1C8F65;
  border-color: #262B2E;
}


/* Button warning */

.btn-warning {
  background-color: #E48561;
}
.btn-warning:hover,
.btn-warning:focus {
  background-color: #e69171;
}
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  background-color: #DB805D;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #DB805D;
  border-color: #262B2E;
}


/* Button danger */

.btn-danger {
  background-color: #D36A5F;
}
.btn-danger:hover,
.btn-danger:focus {
  background-color: #DD7469;
}
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  background-color: #CA5B4F;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #CA5B4F;
  border-color: #262B2E;
}


/* Button info */

.btn-info {
  background-color: #3C9AC9;
}
.btn-info:hover,
.btn-info:focus {
  background-color: #44A3D3;
}
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  background-color: #3291C0;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #3291C0;
  border-color: #262B2E;
}


/* Button link */

.btn-link {
  border: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.btn-link:hover,
.btn-link:focus {
  text-decoration: none;
}
.btn-link:active {
  box-shadow: none;
}


.btn-group .btn + .btn, 
.btn-group .btn + .btn-group, 
.btn-group .btn-group + .btn, 
.btn-group .btn-group+.btn-group {
  margin-left: 1px;
}





/* ===== Misc elements ===== */

.caret {
  border-width: 3px;
}

.close {
  cursor: pointer;
  font-size: 16px;
  font-weight: 300;
  color: #333;
  opacity: .8;
  text-shadow: none;
  filter: alpha(opacity=80);
}
.close:focus, .close:hover {
  text-decoration: none;
  color: #333;
  cursor: pointer;
  filter: alpha(opacity=100);
  opacity: 1;
  outline: 0;
}


/* Well */ 

.well {
  padding: 15px;
  margin-bottom: 0;
  background-color: #282C2E;
  border-color: #1F2224;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  box-shadow: 0 1px 0 #4B4E50, inset 0 0 2px #272B2C;
  -webkit-box-shadow: 0 1px 0 #4B4E50, inset 0 0 2px #272B2C;
  -moz-box-shadow: 0 1px 0 #4B4E50, inset 0 0 2px #272B2C;
}






/* ===== Panels ===== */

.panel {
  margin-bottom: 30px;
  border-radius: 2px;
  border-color: #222729;
  background-color: #2d3133;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05);
  -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05);
  -moz-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05);
}

.panel .panel {
  background-color: rgba(0,0,0,0.1);
      display: inline-block;
    width: 100%;
}

.panel-heading {
  padding: 0;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  position: relative;
  color: #fff;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset;
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.15) inset;
}

.panel-heading:after {
  content: "";
  display: table;
  clear: both;
}

.panel-title {
  padding: 12px 14px 11px 14px;
  float: left;
  display: block;
}

.panel-body {
  position: relative;
}

.panel .panel-body .panel:last-child {
  margin-bottom: 0;
}


.panel-default > .panel-heading {
  background: #4E5659;
  border-color: #4E5659;
  color: #fff;
}

.panel-body .panel-default > .panel-heading-small {
    background: #383C3F;
    display: inline-block;
    width: 100%;
}
.panel-body .panel-default > .panel-heading-small  h6.panel-title{
  font-size:12px;
}

.panel-default > .panel-heading + .panel-collapse .panel-body {
  border-top: 0;
}
.panel-group .panel-heading + .panel-collapse .panel-body {
  border-top: 0;
}




 /* ===== Panel toolbar ===== */

.panel-toolbar { 
  border-bottom: 1px solid #3B4144; 
  background-color: #282C2E; 
  margin: 0; 
  padding: 0; 
}

.panel-toolbar:after {
  content: "";
  display: table;
  clear: both;
}

.panel-toolbar .dropdown.open > a { 
  background: #fff; 
  color: #fff; 
}
.panel-toolbar .dropdown.open > a .caret { 
  border-top-color: #999999; 
  border-bottom-color: #999999; 
  outline: 0; 
}

.panel-toolbar > li { 
  display: block; 
  float: left; 
  border-right: 1px solid #3B4144; 
}
.panel-toolbar > li > a { 
  display: inline-block; 
  white-space: nowrap; 
  color: #ddd; 
  padding: 11px 14px; 
  font-size: 12px; 
  font-weight: bold; 
}
.panel-toolbar > li > a:hover, 
.panel-toolbar > li > a:focus { 
  color: #fff; 
}
.panel-toolbar > li.active > a { 
  background-color: #1B2327; 
  color: #fff; 
}
.panel-toolbar > li > a > i { 
  float: left;
  margin-right: 6px;
  margin-top: 2px;
} 

@media (max-width: 479px) {

  .panel-toolbar > li > a { 
    text-indent: -9999px; 
  }
  .panel-toolbar > li > a > i { 
    text-indent: 0; 
    margin-right: 0; 
  }

}



/* Panel heading icons */

.panel-icon { 
  padding: 11px 12px; 
  display: block; 
  line-height: 1; 
  color: #333;
}

.panel-icons-group { 
  float: right; 
  margin-right: 2px; 
}
.panel-icons-group .btn { 
  float: left; 
  margin-right: 0; 
  margin-left: -8px; 
}
.panel-default .panel-heading .panel-icon:hover { 
  color: #777; 
}



/* Panel heding buttons */

.panel-heading .btn, .panel-heading .btn-group {
  margin: 4px 4px 0 0;
}

.panel-heading .btn-link { 
  margin-right: 0; 
}

.panel-heading .btn-group .btn, 
.panel-heading .btn-group .btn-sm, 
.panel-heading .btn-group .btn-xs { 
  margin: 0; 
}

.panel-heading .btn-group .btn + .btn {
  margin-left: 1px;
}

.panel-heading .btn-sm {
  margin: 4px 4px 0 0;
}
.panel-heading .btn-group .btn-sm {
  margin-top: 1px;
}

.panel-heading .btn-xs {
  margin: 5px 5px 0 0;
}
.panel-heading .btn-group .btn-xs {
  margin-top: 2px;
}


/* Panel heading labels */

.panel-heading .label, 
.panel-heading .badge {
  margin: 10px;
}



 /* ===== Panel group ===== */

.panel-group {
  margin-bottom: 0;
}
.panel-group .panel {
  border-radius: 2px;
}
.panel-group .panel + .panel {
  margin-top: 2px;
}




/* Primary */

.panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #496D80;
  border-bottom: 0;
}
.panel-primary > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #496D80;
}
.panel-primary > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #496D80;
}


/* Success */

.panel-success > .panel-heading {
  color: #ffffff;
  background-color: #3E9475;
  border-bottom: 0;
}
.panel-success > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #3E9475;
}
.panel-success > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #3E9475;
}


/* Warning */

.panel-warning > .panel-heading {
  color: #ffffff;
  background-color: #C07C56;
  border-bottom: 0;
}
.panel-warning > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #C07C56;
}
.panel-warning > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #C07C56;
}


/* Danger */

.panel-danger > .panel-heading {
  color: #ffffff;
  background-color: #C26258;
  border-bottom: 0;
}
.panel-danger > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #C26258;
}
.panel-danger > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #C26258;
}


/* Info */

.panel-info > .panel-heading {
  color: #ffffff;
  background-color: #448DB1;
  border-bottom: 0;
}
.panel-info > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #448DB1;
}
.panel-info > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #448DB1;
}





/* ===== Dropdowns ===== */

.dropdown-menu {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  padding: 0;
  font-size: 12px;
  margin: 2px 0 0 0;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.dropdown-menu > li {
  position: relative;
}

.dropdown-menu > li > a {
  padding: 10px 10px 9px 10px;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #fff;
  background-color: #D36A5F;
}
.dropdown-menu > li > a.active{
  color: #fff;
  background-color: #D36A5F;
}

.dropdown-menu .divider {
  margin: 1px 0;
}

.dropdown-header {
  padding: 9px 10px 8px 10px;
  font-weight: 500;
  color: #333;
}

.dropup .caret, 
.navbar-fixed-bottom .dropdown .caret {
  border-bottom-width: 3px;
}


.dropdown-menu .fa {
  margin-right: 6px;
  float: left;
  margin-top: 1px;
}

.dropdown-menu.dropdown-icons-right .fa {
  float: right;
  margin-right: 0;
  margin-left: 8px;
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
   box-shadow: none;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #496D80;
}





/* Dropdown submenu */

.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  text-decoration: none;
  color: #ffffff;
  background-color: #496D80;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: 0;
  margin-left: 0;
  -webkit-border-radius: 0 2px 2px 2px;
  -moz-border-radius: 0 2px 2px 2px;
  border-radius: 0 2px 2px 2px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropup .dropdown-submenu > .dropdown-menu {
  top: auto;
  bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-border-radius: 2px 2px 2px 0;
  -moz-border-radius: 2px 2px 2px 0;
  border-radius: 2px 2px 2px 0;
}
.dropdown-submenu > a:after {
  display: block;
  content: "";
  float: right;
  width: 0;
  height: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 3px 0 3px 3px;
  border-left-color: #999;
  margin-top: 5px;
  margin-right: -2px;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}
.dropdown-submenu.pull-left {
  float: none!important;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: -2px;
  -webkit-border-radius: 2px 0 2px 2px;
  -moz-border-radius: 2px 0 2px 2px;
  border-radius: 2px 0 2px 2px;
}

.dropdown-submenu .dropdown-menu > li:first-child:before,
.dropdown-submenu .dropdown-menu > li:first-child:after,
.dropup .dropdown-submenu .dropdown-menu > li:last-child:before,
.dropup .dropdown-submenu .dropdown-menu > li:last-child:after {
  border: 0;
}





/* # Forms
================================================== */


.form-group {
  margin-bottom: 20px;
}

.panel .form-group:first-child, 
.well .form-group:first-child {
  margin-top: 5px;
}

.rtl-inputs [class*="col-"], 
.rtl-inputs [class^="col-"] { 
  float: right!important; 
}

.form-control {
  padding: 8px 9px 7px 9px;
  font-size: 12px;
  border-color: #1E2226;
  box-shadow: none;
  border-radius: 0;
  background-color: #25292B;
  -moz-box-shadow: 0 1px 0 #363B3E;
  -webkit-box-shadow: 0 1px 0 #363B3E;
  box-shadow: 0 1px 0 #363B3E;
  color: #ddd;
}

input[type=text], 
input[type=password], 
textarea {
  -webkit-appearance: none;
}

.form-control:focus {
  border-color: #1B1E22;
  box-shadow: none;
}

.form-control + .form-control,
.input-group + .input-group {
  margin-top: 20px;
}

.form-control[disabled], 
.form-control[readonly], 
fieldset[disabled] .form-control {
  background-color: #2A2D2E;
}

.form-actions {
  margin-bottom: 5px;
}




/* Input sizing */

.input-sm {
  font-size: 11px;
  border-radius: 0;
  padding: 7px 9px 8px 9px;
}

.input-lg {
  height: 40px;
  padding: 10px 12px;
  font-size: 14px;
  border-radius: 0;
}

.help-block {
  margin-top: 7px;
  margin-bottom: 12px;
  color: #999;
  font-size: 11px;
}



/* Form horizontal */

.form-horizontal .control-label, 
.form-horizontal .radio, 
.form-horizontal .checkbox, 
.form-horizontal .radio-inline, 
.form-horizontal .checkbox-inline {
  margin-bottom: 5px;
}
.form-horizontal .control-label i {
  margin-right: 2px;
}

@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: left;
  }

  .form-horizontal .control-label.text-right {
    text-align: right;
  }
}



/* Form bordered layout */

.form-bordered .form-group { 
  border-top: 1px solid #363B3F; 
  margin-bottom: 0; 
  padding-top: 20px; 
  padding-bottom: 20px; 
}
.form-bordered .panel .form-group:first-child { 
  border-top: 0; 
  margin-top: 5px; 
  padding-top: 0; 
}

.panel-body .form-bordered .form-group:first-child {
  margin-top: 0;
  padding-top: 0;
  border-top: 0;
}


/* Input icons */

.has-feedback .form-control-feedback {
  top: 22px;
}
.has-feedback-no-label .form-control-feedback {
  top: 0;
}
.has-feedback-left .form-control {
  padding-right: 0;
  padding-left: 32px;
}

.has-feedback-left .form-control-feedback {
  right: auto;
  left: 0;
}

.form-horizontal .has-feedback-left .form-control-feedback {
  right: 0;
  left: 15px;
}



/* Error inputs */

.has-error .help-block, 
.has-error .control-label, 
.has-error .radio, 
.has-error .checkbox, 
.has-error .radio-inline, 
.has-error .checkbox-inline,
.has-error .form-control-feedback {
  color: #E07569;
}

.has-error .form-control,
.has-error .form-control:focus {
  border-color: #D65C4F;
  box-shadow: none;
}


/* Success inputs */

.has-success .help-block, 
.has-success .control-label, 
.has-success .radio, 
.has-success .checkbox, 
.has-success .radio-inline, 
.has-success .checkbox-inline,
.has-success .form-control-feedback {
  color: #6AA584;
}

.has-success .form-control,
.has-success .form-control:focus {
  border-color: #3E9475;
  box-shadow: none;
}


/* Warning inputs */

.has-warning .help-block, 
.has-warning .control-label, 
.has-warning .radio, 
.has-warning .checkbox, 
.has-warning .radio-inline, 
.has-warning .checkbox-inline,
.has-warning .form-control-feedback {
  color: #C78052;
}

.has-warning .form-control,
.has-warning .form-control:focus {
  border-color: #CC6E30;
  box-shadow: none;
}



/* ===== Input groups ===== */

.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  height: 40px;
  padding: 7px 12px;
  font-size: 14px;
  border-radius: 2px;
}
select.input-group-lg > .form-control,
select.input-group-lg > .input-group-addon,
select.input-group-lg > .input-group-btn > .btn {
  height: 40px;
  line-height: 40px;
}


/* Addons */

.input-group-addon {
  font-size: 12px;
  color: #fff;
  border-color: #1E2226;
  background-color: #4E5659;
  border-radius: 2px;
}
.input-group-addon > i {
  display: block;
}
.input-group-addon > label {
  margin: 0;
}
.input-group-addon .checker,
.input-group-addon .choice {
  margin: 0;
}




/* ===== Checkboxes, radios, selects ===== */

input[type="radio"], 
input[type="checkbox"] {
  margin: 3px 0 0;
}

.radio-inline,
.checkbox-inline {
  padding-left: 0;
}

.radio input[type="radio"], 
.radio-inline input[type="radio"], 
.checkbox input[type="checkbox"], 
.checkbox-inline input[type="checkbox"] {
  margin-left: 0;
  margin-right: 8px;
}

select[multiple] {
  height: 250px;
}

.radio, .checkbox {
  padding-left: 0;
}

@media (max-width: 480px) {

  .radio-inline,
  .checkbox-inline {
    display: block;
  }
  .radio-inline + .radio-inline,
  .checkbox-inline + .checkbox-inline {
    margin-left: 0;
    margin-top: 9px;
  }

}






/* ===== Tooltip ===== */

.tooltip {
  z-index: 1020;
}
.tooltip-inner {
  padding: 9px 16px;
  background-color: #40484C;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #40484C;
}
.tooltip.top-left .tooltip-arrow {
  border-top-color: #40484C;
}
.tooltip.top-right .tooltip-arrow {
  border-top-color: #40484C;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #40484C;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #40484C;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #40484C;
}
.tooltip.bottom-left .tooltip-arrow {
  border-bottom-color: #40484C;
}
.tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #40484C;
}





/* ===== Popover ===== */

.popover {
  color: #333;
  border: 0;
  padding: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.075);
}

.popover-title {
  border-bottom: 0;
  line-height: 20px;
  color: #FFF;
  background-color: #3C9AC9;
  border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
}

.popover-content {
  border: 1px solid #DDD;
  border-top: 0;
  border-radius: 0 0 2px 2px;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
}

.popover > .arrow {
  border-width: 7px;
}
.popover > .arrow:after {
  border-width: 6px;
}

.popover.top > .arrow {
  bottom: -6px;
  margin-left: -7px;
}
.popover.top > .arrow:after {
  bottom: 1px;
  margin-left: -6px;
}

.popover.right > .arrow {
  left: -6px;
  margin-top: -7px;
}
.popover.right > .arrow:after {
  left: 1px;
  bottom: -6px;
}

.popover.bottom .arrow {
  margin-left: -7px;
  top: -7px;
}
.popover.bottom .arrow:after {
  top: 1px;
  margin-left: -6px;
  border-bottom-color: #3C9AC9;
}

.popover.left .arrow {
  right: -6px;
  margin-top: -7px;
}
.popover.left .arrow:after {
  right: 1px;
  bottom: -6px;
}




/* ===== Pagination ===== */

.pagination {
  margin: 0;
  border-radius: 0;
  font-size: 0;
}
.pagination > li {
  display: inline-block;
  margin-left: 1px;
  font-size: 12px;
}
.pagination > li:first-child {
  margin-left: 0;
}

.pagination > li > a,
.pagination > li > span {
  float: none;
  margin-left: 0;
  border: 0;
  display: block;
  color: #FFF;
  font-weight: bold;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  background: none;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span,
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span,
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span,
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-radius: 2px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #3E9475;
  color: #fff;
}

.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
  background-color: #3C9AC9;
  cursor: default;
}

.pagination > .disabled > span, 
.pagination > .disabled > span:hover, 
.pagination > .disabled > span:focus, 
.pagination > .disabled > a, 
.pagination > .disabled > a:hover, 
.pagination > .disabled > a:focus {
  color: #999;
  background: none;
  border: 0;
}




/* ===== Pager ===== */

.pager {
  margin: 0;
}
.pager li > a,
.pager li > span {
  border-radius: 2px;
  padding: 7px 14px 6px 14px;
  color: #fff;
  border: 0;
  background: none;
}
.pager li > a:hover,
.pager li > a:focus {
  background-color: #3E9475;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  border-color: #ddd;
  background: none;
}





/* ===== Progress bars ===== */

.progress {
  margin-bottom: 0;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  box-shadow: 0 1px 0 #4B4E50, inset 0 0 2px #272B2C;
  -webkit-box-shadow: 0 1px 0 #4B4E50, inset 0 0 2px #272B2C;
  -moz-box-shadow: 0 1px 0 #4B4E50, inset 0 0 2px #272B2C;
  background-color: #282C2E;
  border: 1px solid #1F2224;
}

.progress-thin { 
  height: 6px; 
  border-radius: 100px; 
  -webkit-border-radius: 100px; 
  -moz-border-radius: 100px; 
}

.progress-micro {
  height: 2px;
}


.progress-bar {
  font-size: 11px;
  background-color: #496D80;
}
.progress-bar-danger {
  background-color: #E06C5F;
}
.progress-bar-success {
  background-color: #3E9475;
}
.progress-bar-warning {
  background-color: #DD845A;
}
.progress-bar-info {
  background-color: #3C9AC9;
}




/* ===== Alerts ===== */

.alert {
  padding: 10px 12px;
  margin-bottom: 0;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  font-weight: bold;
  border: 0;
  color: #fff;
}
.alert i {
  float: left;
  margin-right: 6px;
  margin-top: 2px;
}
.alert .close {
  margin-top: -1px;
  color: #fff;
}
.alert-block .close {
  margin-top: 2px;
}

.alert h5 {
  margin-top: 4px;
  margin-bottom: 0;
}
.alert .alert-link {
  font-weight: bold;
}
.alert .btn {
  margin-top: 14px;
}
.alert hr {
  margin: 12px -12px
}
.alert-link {
  color: #fff;
}
.alert hr {
  border-top-color: rbga(255, 255, 255, 0.1);
}



/* Success */

.alert-success {
  background-color: #3E9475;
}


/* Info */

.alert-info {
  background-color: #3C9AC9;
}


/* Warning */

.alert-warning {
  background-color: #DD845A;
}


/* Danger */

.alert-danger {
  background-color: #E06C5F;
}





/* Page tabs */

.page-tabs > .nav-tabs, .page-tabs > .nav-pills { margin-bottom: 20px; }
.page-tabs > .tab-content { border: 0; background: none; }
.page-tabs { margin-bottom: 30px; }
.page-tabs > .nav-tabs > li > a,
.page-tabs > .nav-tabs > li > a:hover,
.page-tabs > .nav-tabs > li > a:focus {
  background-color: #34383A;
}
.page-tabs > .nav-tabs > li.active > a, 
.page-tabs > .nav-tabs > li.active > a:hover, 
.page-tabs > .nav-tabs > li.active > a:focus {
  border-bottom-color: #4E545A;
}



/* Tab and pill content */

.tab-content { 
  border: 1px solid #4E545A; 
  border-top: 0; 
  background-color: #282C2E; 
}

.panel > .tabbable > .nav-tabs {
  border-bottom-color: #4E545A;
  border-right: 1px solid #4E545A;
  margin-top: -1px;
}
.modal .tab-content { border: 0; background: none; padding-top: 20px; }
.pill-content {
  border: 0; 
  margin-top: 16px;
  background: none;
}

@media (max-width: 480px) {
  .panel > .tabbable > .nav-tabs > li > a,
  .panel > .tabbable > .nav-tabs > li > a:hover,
  .panel > .tabbable > .nav-tabs > li > a:focus {
    border-right-color: transparent;
  }
}





/*===== Nav tabs =====*/

.nav-tabs {
  border-bottom-color: #4E545A;
}
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
  background-color: #282C2E;
  border-color: #282C2E;
}

.nav-tabs > li > a {
  margin-right: -1px;
  border-radius: 0;
  color: #ddd;
  font-weight: bold;
  padding: 10px 14px;
  border-right-color: #4E545A;
  border-top-color: #4E545A;
}

.nav-tabs > li > a:hover, 
.nav-tabs > li > a:focus {
  border-color: #4E545A;
  background: none;
  color: #fff;
  border-bottom-color: transparent;
  border-top-color: #3C9AC9;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #fff;
  background-color: #282C2E;
  border-color: #4E545A;
  border-top-color: #F07849;
}
.nav-tabs > li:first-child > a,
.nav-tabs > li:first-child > a:hover,
.nav-tabs > li:first-child > a:focus {
  border-left-color: #4E545A;
}

.nav-tabs > li > a > i { 
  float: left; 
  margin: 2px 6px 0 0; 
}
.nav-tabs.nav-justified > li > a > i {
  float: none;
  margin: 0 6px 0 0;
  vertical-align: -1px;
}

.nav-tabs > li > a .label { 
  margin: 0 -5px 0 5px; 
}

.nav-tabs > li > a .label-text { 
  font-weight: 700;
  font-size: 11px;
  margin-left: 4px; 
}

.nav-tabs .open > a, 
.nav-tabs .open > a:hover, 
.nav-tabs .open > a:focus {
  background-color: #282C2E;
  color: #fff;
  border-color: #4E545A;
  border-top-color: #3C9AC9;
}

.nav-tabs .dropdown-menu {
  margin-top: 2px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}


/* Toolbar tabs */



/* Justified tabs */

.nav-tabs.nav-justified > li > a {
  border-bottom: 1px solid #4E545A;
  margin-bottom: 0;
  margin-right: -1px;
  border-left-color: #4E545A;
  border-radius: 0;
}
.nav-tabs.nav-justified > li:last-child > a {
  margin-right: 0;
}

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border-color: #4E545A;
  border-top-color: #F07849;
}


@media (max-width: 767px) {

  .nav-tabs.nav-justified > li > a {
    margin-left: 0;
    border: 1px solid #4E545A;
  }
  .nav-tabs.nav-justified > .active > a, 
  .nav-tabs.nav-justified > .active > a:hover, 
  .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #4E545A;
  }

}


@media (max-width: 480px) {

  .nav-tabs > li {
    float: none;
  }
  .nav-tabs > li.pull-right {
    float: none!important;
  }

  .nav-tabs > li > a {
    border: 1px solid #4E545A;
    margin-right: 0;
  }

  .nav-tabs > li.active > a, 
  .nav-tabs > li.active > a:hover, 
  .nav-tabs > li.active > a:focus {
    border-bottom-color: #4E545A;
  }

}





/*===== Nav pills =====*/

.nav-pills > li > a {
  color: #ddd;
  padding: 9px 12px 9px 12px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  background-color: #282C2E;
  border: 1px solid #4E545A;
  font-weight: bold;
}
.nav-pills > li > a:hover, 
.nav-pills > li > a:focus { 
  background-color: #282C2E; 
  box-shadow: none; 
  color: #fff;
}

.nav-pills > li > a > i { 
  float: left; 
  margin: 2px 6px 0 0; 
}
.nav-pills > li > a > i.pull-right { 
  margin: 0px -6px 0 0; 
}

.nav-pills > li > a .label { 
  /*margin: -5px -8px -5px 8px; */
  margin-right: -4px;
  margin-left: 6px;
}
.nav-pills > li.active > a .label { 
  background-color: #444; 
}
.nav-pills.nav-justified > li > a .label { 
  float: right; 
  margin: -1px -6px 0 6px; 
}

.nav-pills .open > a,
.nav-pills .open > a:hover,
.nav-pills .open > a:focus {
  color: #ffffff;
  background-color: #3E9475;
  border-color: #3E9475;
}

.nav-pills .open a .caret,
.nav-pills .open a:hover .caret,
.nav-pills > li.active .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #3E9475;
  border-color: #3E9475;
}



/* Justified pills */

.nav-pills.nav-justified > li > a { 
  margin-left: 4px; 
  text-align: left; 
}
.nav-pills.nav-justified > li:first-child > a { 
  margin-left: 0; 
}

.nav-pills.nav-justified > li > a:after,
.nav-pills.nav-justified > li.active > a:after {
  left: 15px;
  margin-left: 0;
}
.nav-pills.nav-justified .dropdown-menu { 
  margin-left: 4px; 
}
.nav-pills.nav-justified .dropdown-menu.dropdown-menu-right { 
  margin-right: 4px; 
}


/* Stacked pills */

.nav-pills.nav-stacked > li.active > a:after {
  border: 0;
}


@media (max-width: 767px) {

  .nav-pills.nav-justified > li + li {
    margin-left: 0;
    margin-top: 2px;
  }
  .nav-pills.nav-justified > li > a {
    margin-left: 0;
  }
  .nav-pills.nav-justified > li.active > a:after {
    content: ""; 
    border: 0;
  }
  .nav-pills.nav-justified .dropdown-menu {
    margin-left: 0;
  }

}


@media (max-width: 480px) {

  .nav-pills > li {
    float: none;
  }
  .nav-pills > li + li {
    margin-left: 0;
    margin-top: 5px;
  }
  .nav-pills > li.active > a:after {
    content: ""; 
    border: 0;
  }

}





/*===== List groups =====*/

.list-group {
  margin-bottom: 0;
}
.list-group-item {
  padding: 9px 12px 8px 12px;
  background-color: rgba(0,0,0,0.1);
  border: 1px solid #4E545A;
  color: #fff;
}

.list-group-item-heading {
  margin-bottom: 3px;
}
a.list-group-item .list-group-item-heading {
  color: #fff;
}

.list-group-item i {
  float: left;
  margin-right: 8px;
}
.list-group-item .btn {
  position: absolute;
  top: 3px;
  right: 3px;
}
.list-group-item.has-button {
  padding-right: 36px;
}

.list-group-item:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.list-group-item > .badge, 
.list-group-item > .label {
  float: right;
  margin-top: -2px;
}
.list-group-item > .label + .label {
  margin-right: 5px;
}

a.list-group-item {
  color: #fff;
}
a.list-group-item:hover, 
a.list-group-item:focus {
  background-color: rgba(0,0,0,0.15);
  color: #fff;
}

a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
  background-color: #3C9AC9;
  border-color: #3C9AC9;
}


/* Success */

.list-group-item-success,
a.list-group-item-success:hover,
a.list-group-item-success:focus,
a.list-group-item-success.active,
a.list-group-item-success.active:hover,
a.list-group-item-success.active:focus {
  background-color: #3E9475;
  border-color: #3E9475;
}


/* Danger */

.list-group-item-danger,
a.list-group-item-danger:hover,
a.list-group-item-danger:focus,
a.list-group-item-danger.active,
a.list-group-item-danger.active:hover,
a.list-group-item-danger.active:focus {
  background-color: #E06C5F;
  border-color: #E06C5F;
}


/* Warning */

.list-group-item-warning,
a.list-group-item-warning:hover,
a.list-group-item-warning:focus,
a.list-group-item-warning.active,
a.list-group-item-warning.active:hover,
a.list-group-item-warning.active:focus {
  background-color: #DD845A;
  border-color: #DD845A;
}


/* Info */

.list-group-item-info,
a.list-group-item-info:hover,
a.list-group-item-info:focus,
a.list-group-item-info.active,
a.list-group-item-info.active:hover,
a.list-group-item-info.active:focus {
  background-color: #3C9AC9;
  border-color: #3C9AC9;
}




/*===== Nav list =====*/

.nav-list {
  background-color: #282C2E;
  border: 1px solid #1F2224;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 1px 0 #4B4E50, inset 0 0 2px #272B2C;
  -webkit-box-shadow: 0 1px 0 #4B4E50, inset 0 0 2px #272B2C;
  -moz-box-shadow: 0 1px 0 #4B4E50, inset 0 0 2px #272B2C;
}
.nav-list > li > a {
  padding: 10px 12px;
  color: #ddd;
}
.nav-list > li.nav-header {
  padding: 10px 14px 9px 14px;
  color: #FFF;
  font-size: 11px;
  text-transform: uppercase;
  border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  border-bottom: 1px solid #393D3F;
  background: rgba(0, 0, 0, 0.1);
}
.nav-list + .nav-list {
  margin-top: 35px;
}
.nav-list > li .label {
  margin: -3px -4px -3px 0;
  float: right;
}
.nav-list > li > i, 
.nav-list > li > a > i {
  float: left;
  margin-right: 6px;
}
.nav-list > li > a > i {
  color: #333;
}

.nav-list > li.nav-header i {
  margin-right: 0;
  float: right;
}




/* ===== Modal ===== */

.modal-content {
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
  outline: none;
  background-color: #34393C;
}

.modal-backdrop {
  background-color: #6B7981;
}

.modal-header {
  padding: 10px 16px;
  background-color: #3C9AC9;
  color: #FFF;
  border-bottom: 0;
  border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
}
.modal-header .close {
  color: #fff;
  margin-top: 2px;
}
.modal-title i {
  float: left;
  margin: 2px 6px 0 0;
}

.modal-body {
  padding: 0;
  border-left: 1px solid #4E545A;
  border-right: 1px solid #4E545A;
}

.modal-footer {
  border-radius: 0 0 3px 3px;
  padding: 16px;
  margin-top: 0;
  border: 1px solid #4E545A;
  background-color: rgba(0,0,0,0.1);
}


@media (min-width: 992px) {
  .modal-lg {
    width: 1000px;
  }
}




/* ===== Thumbnail ===== */

.thumbnail {
  position: relative;
  margin-bottom: 0;
  text-align: center;
  border: 1px solid #272C30;
  padding: 2px;
  border-radius: 2px;
  background-color: #2A2F31;
  box-shadow: 0 1px 0 #4B4E50, inset 0 0 2px #272B2C;
-webkit-box-shadow: 0 1px 0 #4B4E50, inset 0 0 2px #272B2C;
-moz-box-shadow: 0 1px 0 #4B4E50, inset 0 0 2px #272B2C;
}
.thumbnail .caption {
  padding: 12px 12px;
  text-align: left;
  color: #ddd;
}
.thumbnail .caption.text-center {
  text-align: center;
}
.thumbnail .caption h6 small {
  display: block;
  margin-top: 4px;
}


.caption .caption-title { 
  font-size: 14px; 
  margin-bottom: 8px; 
  display: block; 
}

.thumbnail-boxed .item-info {
  margin-bottom: 12px;
}

.thumbnail img,
.thumbnail a img {
  margin-right: auto;
  margin-left: auto;
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
  z-index: 2;
  border-radius: 2px;
}

.thumb { 
  position: relative; 
  display: block; 
}
.thumb:hover 
.thumb-options {
  opacity: 1;
}

.thumbnail iframe {
  width: 100%;
  max-width: 100%;
  height: 250px;
  border: 0;
}


/* Thumb options on hover */

.thumb-zoom { 
  background: #32434D url(../images/interface/zoom.png) no-repeat 50%; 
  display: block; 
  border-radius: 2px; 
  border: 0; 
}
.thumb-zoom img { 
  opacity: 1; 
}
.thumb-zoom:hover img { 
  opacity: 0.2; 
}


.thumb-options {
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(50,67,77,0.8);
  height: 100%;
  width: 100%;
  opacity: 0;
  text-align: center;
}
.thumb-options span {
  display: block;
    top: 50%;
  position: absolute;
  margin-top: -17px;
  width: 100%;

}
.thumb-options span a + a {
  margin-left: 5px;
}





/* ===== Tables ===== */

.table {
  margin-bottom: 0;
  background-color: #2D3133;
}

.table > thead > tr > th {
  border-bottom-width: 1px;
  outline: 0;
}

.table > thead > tr > th, 
.table > tbody > tr > th, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr > td {
  vertical-align: middle;
  padding: 10px 12px;
  border-color: #3B4144;
}

.table-condensed > thead > tr > th, 
.table-condensed > tbody > tr > th, 
.table-condensed > tfoot > tr > th, 
.table-condensed > thead > tr > td, 
.table-condensed > tbody > tr > td, 
.table-condensed > tfoot > tr > td {
  padding: 8px 10px;
}

.table > thead > tr > td.danger, 
.table > tbody > tr > td.danger, 
.table > tfoot > tr > td.danger, 
.table > thead > tr > th.danger, 
.table > tbody > tr > th.danger, 
.table > tfoot > tr > th.danger, 
.table > thead > tr.danger > td, 
.table > tbody > tr.danger > td, 
.table > tfoot > tr.danger > td, 
.table > thead > tr.danger > th, 
.table > tbody > tr.danger > th, 
.table > tfoot > tr.danger > th {
  background-color: #554141;
}

.table > thead > tr > td.success, 
.table > tbody > tr > td.success, 
.table > tfoot > tr > td.success, 
.table > thead > tr > th.success, 
.table > tbody > tr > th.success, 
.table > tfoot > tr > th.success, 
.table > thead > tr.success > td, 
.table > tbody > tr.success > td, 
.table > tfoot > tr.success > td, 
.table > thead > tr.success > th, 
.table > tbody > tr.success > th, 
.table > tfoot > tr.success > th {
  background-color: #3C503F;
}

.table > thead > tr > td.warning, 
.table > tbody > tr > td.warning, 
.table > tfoot > tr > td.warning, 
.table > thead > tr > th.warning, 
.table > tbody > tr > th.warning, 
.table > tfoot > tr > th.warning, 
.table > thead > tr.warning > td, 
.table > tbody > tr.warning > td, 
.table > tfoot > tr.warning > td, 
.table > thead > tr.warning > th, 
.table > tbody > tr.warning > th, 
.table > tfoot > tr.warning > th {
  background-color: #554D41;
}

.table > thead > tr > td.info, 
.table > tbody > tr > td.info, 
.table > tfoot > tr > td.info, 
.table > thead > tr > th.info, 
.table > tbody > tr > th.info, 
.table > tfoot > tr > th.info, 
.table > thead > tr.info > td, 
.table > tbody > tr.info > td, 
.table > tfoot > tr.info > td, 
.table > thead > tr.info > th, 
.table > tbody > tr.info > th, 
.table > tfoot > tr.info > th {
  background-color: #404C50;
}

.table > thead > tr > td.active, 
.table > tbody > tr > td.active, 
.table > tfoot > tr > td.active, 
.table > thead > tr > th.active, 
.table > tbody > tr > th.active, 
.table > tfoot > tr > th.active, 
.table > thead > tr.active > td, 
.table > tbody > tr.active > td, 
.table > tfoot > tr.active > td, 
.table > thead > tr.active > th, 
.table > tbody > tr.active > th, 
.table > tfoot > tr.active > th {
  background-color: #3F3F3F;
}

.table-striped > tbody > tr:nth-child(odd) > td, 
.table-striped > tbody > tr:nth-child(odd) > th,
.table-hover > tbody > tr:hover > td, 
.table-hover > tbody > tr:hover > th {
  background-color: #282C2E;
}

.table-bordered {
  border-color: #3B4144;
}


/* Additional styles for rables inside panel */

.panel .table-bordered,
.panel .table-responsive > .table-bordered {
  border: 0;
}

.panel > .panel-body + .table,
.panel > .panel-body + .table-responsive {
  border-color: #3B4144;
}


.panel .panel-body .table-bordered {
  border: 1px solid #3B4144;
}

.panel > .table + .panel-body, 
.panel > .table-responsive + .panel-body {
border-top: 1px solid #3B4144;
}


.panel .table:first-child,
.panel .table-responsive:first-child > .table:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.panel .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel .table:first-child > tbody:first-child > tr:first-child th:first-child,
.panel .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
  border-top-left-radius: 0;
}
.panel .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel .table:first-child > tbody:first-child > tr:first-child th:last-child,
.panel .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
  border-top-right-radius: 0;
}
.panel .table:last-child,
.panel .table-responsive:last-child > .table:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.panel .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel .table:last-child > tfoot:last-child > tr:last-child th:first-child,
.panel .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
  border-bottom-left-radius: 0;
}
.panel .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel .table:last-child > tfoot:last-child > tr:last-child th:last-child,
.panel .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
  border-bottom-right-radius: 0;
}

.panel .table-bordered > thead > tr > th:first-child,
.panel .table-responsive > .table-bordered > thead > tr > th:first-child,
.panel .table-bordered > tbody > tr > th:first-child,
.panel .table-responsive > .table-bordered > tbody > tr > th:first-child,
.panel .table-bordered > tfoot > tr > th:first-child,
.panel .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.panel .table-bordered > thead > tr > td:first-child,
.panel .table-responsive > .table-bordered > thead > tr > td:first-child,
.panel .table-bordered > tbody > tr > td:first-child,
.panel .table-responsive > .table-bordered > tbody > tr > td:first-child,
.panel .table-bordered > tfoot > tr > td:first-child,
.panel .table-responsive > .table-bordered > tfoot > tr > td:first-child {
  border-left: 0;
}

.panel .table-bordered > thead > tr > th:last-child,
.panel .table-responsive > .table-bordered > thead > tr > th:last-child,
.panel .table-bordered > tbody > tr > th:last-child,
.panel .table-responsive > .table-bordered > tbody > tr > th:last-child,
.panel .table-bordered > tfoot > tr > th:last-child,
.panel .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.panel .table-bordered > thead > tr > td:last-child,
.panel .table-responsive > .table-bordered > thead > tr > td:last-child,
.panel .table-bordered > tbody > tr > td:last-child,
.panel .table-responsive > .table-bordered > tbody > tr > td:last-child,
.panel .table-bordered > tfoot > tr > td:last-child,
.panel .table-responsive > .table-bordered > tfoot > tr > td:last-child {
  border-right: 0;
}

.panel .table-bordered > thead > tr:first-child > td,
.panel .table-responsive > .table-bordered > thead > tr:first-child > td,
.panel .table-bordered > tbody > tr:first-child > td,
.panel .table-responsive > .table-bordered > tbody > tr:first-child > td,
.panel .table-bordered > thead > tr:first-child > th,
.panel .table-responsive > .table-bordered > thead > tr:first-child > th,
.panel .table-bordered > tbody > tr:first-child > th,
.panel .table-responsive > .table-bordered > tbody > tr:first-child > th {
  border-bottom: 0;
}
.panel .table-bordered > tbody > tr:last-child > td,
.panel .table-responsive > .table-bordered > tbody > tr:last-child > td,
.panel .table-bordered > tfoot > tr:last-child > td,
.panel .table-responsive > .table-bordered > tfoot > tr:last-child > td,
.panel .table-bordered > tbody > tr:last-child > th,
.panel .table-responsive > .table-bordered > tbody > tr:last-child > th,
.panel .table-bordered > tfoot > tr:last-child > th,
.panel .table-responsive > .table-bordered > tfoot > tr:last-child > th {
  border-bottom: 0;
}

.panel .table-bordered.dataTable {
  border-top: 1px solid #23282B;
  border-bottom: 1px solid #3B4144;
}

.panel-body .table-bordered {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}


@media (max-width: 768px) {
  .table-responsive {
    margin: 0;
    border: 0;
  }
}

