.page-on-load{width: 100%;z-index:10050;background:#fefefe;position:absolute;left:0;right:0;height:110%;top:-10%;padding-bottom:50px;}

.page-spinner-bar {
  position: fixed;
  z-index: 10051;
  width: 100px;
  top: 40%;
  left: 50%;
  margin-left: -55px;
  text-align: center;
}
.page-spinner-bar > div {
  margin: 0 5px;
  width: 18px;
  height: 18px;
  background: #eee;
  border-radius: 100% !important;
  display: inline-block;
  -webkit-animation: bounceDelay 1.4s infinite ease-in-out;
  animation: bounceDelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page-spinner-bar .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.page-spinner-bar .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.block-spinner-bar {
  display: inline-block;
  width: 80px;
  text-align: center;
}
.block-spinner-bar > div {
  margin: 0 2px;
  width: 15px;
  height: 15px;
  background: #eee;
  border-radius: 100% !important;
  display: inline-block;
  -webkit-animation: bounceDelay 1.4s infinite ease-in-out;
  animation: bounceDelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.block-spinner-bar .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.block-spinner-bar .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
/***
AngularJS Basic Animations
***/
@keyframes bounceDelay {
  0%, 80%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

.page-spinner-bar > div,
.block-spinner-bar > div {
  background:#3E9475;
}
.table-striped > tbody > tr.active > td{background: #496D80;} 
.danger{color:#E06C5F;}
.success{color:#3E9475;}
.ui-datepicker-month,.ui-datepicker-year{color:#000;}
.ui-datepicker{z-index:99 !important;}
.contest-list{width:290px;float:left;}
.contest-list:first-child{margin-left:10px;}
@media (max-width: 767px) {.contest-list:first-child{margin-left:0px;}.contest-list{width:auto;display:block;float:none;}}
.help{color: #3C9AC9;}
.pointer{cursor:pointer;}
.custom-load-div{position: relative;height: 550px !important;}
.se-pre-con{display:none;position: absolute;background: rgba(0,0,0,0.5);z-index: 9;height: 550px;  width: 100%;}
.table-responsive.load .se-pre-con{display: block;}
.loader-img{background: url('../images/285.gif') no-repeat;display: block;height: 64px;width: 64px;margin: auto;position: absolute;left: 0;right: 0;top: 0;bottom: 0;}  
.pre-scrollable table th {padding: 0;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  position: relative;
  color: #fff;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset;background: #4E5659;}


.panel-heading [data-toggle="collapse"]:hover,
.panel-heading [data-toggle="collapse"]:focus{
  color: #ccc;
}


.panel-heading[data-toggle="collapse"] .fa-chevron-down{
  display: none;
}
.panel-heading[data-toggle="collapse"] .fa-chevron-up {
    display: block;
}

.panel-heading.collapsed[data-toggle="collapse"] .fa-chevron-up {
    display: none;
}

.panel-heading.collapsed[data-toggle="collapse"] .fa-chevron-down{
  display: inline-block;
}

[data-toggle="collapse"]> .fa-chevron-down{
  display: none;
}
[data-toggle="collapse"].collapsed > .fa-chevron-up{
  display: none;
}
[data-toggle="collapse"].collapsed > .fa-chevron-down{
  display: inline-block;
}

.custom-tooltip .tooltip-inner{text-align: left; 
  max-width: 100%;
}
.model-margin{ margin: 15% auto; }


.btn-sm-icon{
  border-radius:100%;
  width:30px;
  height: 30px;
  color: #fff;     line-height: 34px;
    text-align: center;
    padding: 0;
}
.profile-pic-xs {
    border-radius: 100px;
    margin-right: 10px;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
    height: 34px;
    position: relative;
    width: 34px;
}
.profile-pic-xs > img{
    border-radius: 0;
    height: auto;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 100%;
}
.btn-sm-icon-minus{line-height: 47px}
.btn-sm-icon svg{fill:#fff;width: 14px;height: 14px;}
.team-option-wrapper .team-option-block {
    height: 100%;
    position: relative;
    width: 100%;
}
.profile-pic-name-wrap {
    display: table;
    width: 100%;
}
.team-option-wrapper .team-option-block input[type="radio"] {
    cursor: pointer;
    display: block;
    height: 100%;
    margin: 0;
    opacity: 0;
    position: absolute;
    width: 100%;
}
.custom-team-radio{
    display: none;
    line-height: normal;
    margin: 4px 0 0;
    box-sizing: border-box;
    padding: 0;
}
.team-option-wrapper .team-option-block input[type="radio"] + .team-option-bar {
    padding: 5px;
}
.team-option-block input[type="radio"]:checked + .team-option-bar {
    background: #3E9475 none repeat scroll 0 0;
}
.team-option-wrapper .team-option-block input[type="radio"] + .team-option-bar {
    padding: 5px;
}
.profile-pic-name-wrap .cell-profile-pic {
    display: table-cell;
    max-width: 44px;
    vertical-align: middle;
    width: 44px;
}
.profile-pic-name-wrap .cell-profile-name {
    display: table-cell;
    vertical-align: middle;
}
.profile-pic-sm {
    display: inline-block;
    height: 38px;
    position: relative;
    width: 38px;
}
.profile-pic-sm img {
    height: 100%;
    width: 100%;
}

.details-card .detailscard-subheader .right-nav .form-group {
    display: inline-block;
    float: none;
    margin: 0 0 4px 0;
    padding: 0;
    vertical-align: middle;
}
.details-card .detailscard-subheader .right-nav .search-input .form-control {
    padding-right: 31px;
}
.details-card .detailscard-subheader .right-nav .search-input .form-control-feedback {
    right: 10px;
}
.form-control-feedback {
    display: block;
    height: 31px;
    line-height: 31px;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 31px;
    z-index: 2;
}
.form-group .icon-search {
    fill: #aaaaaa;
}
svg:not(:root) {
    overflow: hidden;
}
.icon-svg-xs {
    display: inline-block;
    height: 14px;
    vertical-align: middle;
    width: 14px;
}
.details-card .detailscard-subheader .left-nav {
    float: left;
    border-bottom: 1px solid #4E545A
}
.details-card .detailscard-subheader .right-nav {
    overflow: hidden;
    text-align: right;
    border-bottom: 2px solid #4E545A
}
.details-card .player-list-table {
    max-height: 638px;
    overflow-y: auto;
    width: 100%;
}
.flex-layout {
    display: flex;
}
.league-invite .panel-body .league-member-list .player-list-table.small-height {
    max-height: 635px;
}
.league-invite .panel-body .league-member-list .player-list-table {
    overflow-y: auto;
    width: 100%;
}

.panel-container .commissioner-wrapper.inner-wrapper.drafting-order-wrapper {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    box-shadow: none;
    margin: 30px auto;
    overflow: visible;
}
.panel-container .commissioner-wrapper.inner-wrapper.drafting-order-wrapper .panel .drafting-order ul.head-ul {
    box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.04);
    display: table;
    margin-bottom: 7px;
    width: 100%;
    list-style: outside none none;
    padding: 0;
}
.panel-container .commissioner-wrapper.inner-wrapper.drafting-order-wrapper .panel .drafting-order ul.head-ul li {
    background: #4E5659;
    color: #fff;
    display: table-cell;
    font-family: "proximaBold";
    line-height: 8px;
    padding: 13px 17px;
    width: 100%;
}
.panel-container .commissioner-wrapper.inner-wrapper.drafting-order-wrapper .panel .drafting-order ul.head-ul li:first-child {
    max-width: 100px;
    min-width: 100px;
    padding: 13px 17px;
    width: 100px;
}
.panel-container .commissioner-wrapper.inner-wrapper.drafting-order-wrapper .panel .drafting-order ul:last-child li {
    background: #4E5659 none repeat scroll 0 0;
    border-left: 3px solid #3E9475;
    box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.04);
    display: table;
    margin-bottom: 7px;
    width: 100%;
}

.panel-container .commissioner-wrapper.inner-wrapper.drafting-order-wrapper .panel .drafting-order ul:last-child li .num_span {
    display: table-cell;
    max-width: 100px;
    min-width: 100px;
    width: 100px;
    padding: 6px 10px;
    text-align: center;
}
.panel-container .commissioner-wrapper.inner-wrapper.drafting-order-wrapper .panel .drafting-order ul:last-child li .profile_span {
    display: table-cell;
    max-width: 100%;
    padding: 6px 10px;
    width: 100%;
}
.panel-container .commissioner-wrapper.inner-wrapper.drafting-order-wrapper .panel .drafting-order ul:last-child li .profile_span .profile-pic-xs {
    height: 36px;
    margin-right: 10px;
    width: 36px;
}
.panel-container .commissioner-wrapper.inner-wrapper.drafting-order-wrapper .panel .drafting-order ul:last-child li .drag_span {
    background: #999;
    border-left: 1px solid #000;
    cursor: grab;
    display: table-cell;
    max-width: 48px;
    min-width: 48px;
    padding: 6px 10px;
    text-align: center;
    width: 48px;
}
.panel-container .commissioner-wrapper.inner-wrapper.drafting-order-wrapper .panel .drafting-order ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.icon-drag-pointer {
    display: inline-block;
    fill: #768084;
    height: 16px;
    vertical-align: middle;
    width: 16px;
}

/*Time picker Css */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 40%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
.ui-timepicker-div .ui_tpicker_unit_hide{ display: none; }

.ui-timepicker-div .ui_tpicker_time .ui_tpicker_time_input { background: none; color: inherit; border: none; outline: none; border-bottom: solid 1px #555; width: 95%; }
.ui-timepicker-div .ui_tpicker_time .ui_tpicker_time_input:focus { border-bottom-color: #aaa; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 40% 10px 10px; }

/* Shortened version style */
.ui-timepicker-div.ui-timepicker-oneLine { padding-right: 2px; }
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time, 
.ui-timepicker-div.ui-timepicker-oneLine dt { display: none; }
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time_label { display: block; padding-top: 2px; }
.ui-timepicker-div.ui-timepicker-oneLine dl { text-align: right; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd, 
.ui-timepicker-div.ui-timepicker-oneLine dl dd > div { display:inline-block; margin:0; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_minute:before,
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_second:before { content:':'; display:inline-block; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_millisec:before,
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_microsec:before { content:'.'; display:inline-block; }
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide,
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide:before{ display: none; }

/*Custom for time picker*/
.ui-timepicker-div dl dd + dt {
  margin-top: 0;
} 

.ui-timepicker-div{
    background: #fff;
    display: inline-block;
    width: 100%;
    padding: 10px 5px;
    color: #333;
}
.ui-datepicker-buttonpane {
    background: #fff;
    display: inline-block;
    width: 100%;
    padding: 10px;
}
.ui-datepicker-buttonpane button + button{
  margin-left:5px;
}
.ui-datepicker-buttonpane button{
    border-radius: 0;
    border: none;
    padding: 5px;
    background: #3c9ac9;
    color: #fff;
}


.week-matches li {
  border: 1px solid #111;
  border-radius: 5px;
  float: left;
  height: 70px;
  list-style: none;
  margin: 10px;
  width: 200px;
}

.match-block a {
  float: left;  
  height: 100%;
  padding: 10px;
  width: 100%;
}

.match-block a.active {
  border:2px solid #3e9475;
  border-radius: 5px;
}


.match-block  .team-abbr , .opt-all-matches {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.opt-all-matches {
  margin-top: 13px;
}

.match-block  .match-datetime {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-top: 5px;
  font-size: 13px;    
}

.payout-structure-desc {
  list-style: none;
  font-size: 16px;
  margin-top: 5px;
}