<header class="app-header navbar">
  <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
    <img class="navbar-brand-full" src="assets/img/brand/logo.png"  alt="GammaStack Logo" style="width: 150px; ">
    <img class="navbar-brand-minimized" src="assets/img/brand/icon-min.png" style="width: 50px; height: 50px;" alt="GammaStack Logo">
  </a>
  <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <img class="img-avatar" src="assets/img/avatars/admin.png" alt="admin@fantasydfs.com" >
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="javascript:void(0)" (click)="adminLogout()">
          <i class="fa fa-lock"></i> Logout</a>
      </div>
    </li>
  </ul>

</header>
