<app-header> </app-header>
<div class="app-body">
    <app-sidebar></app-sidebar>
    <main class="main">
        <div class="container-fluid">
        <div class="animated fadeIn"></div>
        </div>
        <div class="router-outlet-container">
            <router-outlet> </router-outlet>
        </div>
    </main>
</div>
<app-footer> </app-footer>
