
.week-matches li {
    border: 1px solid #111;
    border-radius: 5px;
    float: left;
    height: 70px;
    list-style: none;
    margin: 10px;
    width: 200px;
  }

  .match-block a {
    float: left;
    height: 100%;
    padding: 10px;
    width: 100%;
    color: #666666;
  }

  .match-block.active {
    border:2px solid #3e9475 !important;
    border-radius: 5px;
  }


  .match-block  .team-abbr , .opt-all-matches {
      width: 100%;
      display: inline-block;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
  }

  .opt-all-matches {
    margin-top: 13px;
    color: #666666;
  }

  .match-block  .match-datetime {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 5px;
    font-size: 13px;
  }

  .payout-structure-desc {
    list-style: none;
    font-size: 16px;
    margin-top: 5px;
  }
