<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong>Create Contest</strong>
            </div>
            <div class="card-body">
                <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="leagues">Leagues</label>
                        <div class="col-md-9">
                            <select class="form-control" id="leagues" name="leagues" [(ngModel)]="params['league_id']" (change)="onLeagueChanges()" >
                                <option value="0">Please select</option>
                                <option *ngFor="let league of leagues" [value]="league.league_id" >{{league.league_abbr}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Name</label>
                        <div class="col-md-9">
                            <input class="form-control" id="text-input" type="text" name="text-input" placeholder="Text">
                            <span class="help-block">This is a help text</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="week">Week</label>
                        <div class="col-md-9">
                            <select class="form-control" id="week" name="week" [(ngModel)]="params['week']" (change)="onWeekChanges()">
                                <option value="0">Please select</option>
                                <option value="1" *ngFor="let week of seasonWeeks" [value]="week.season_week" > Week {{ week.season_week }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Match List</label>
                        <div class="col-md-9" *ngIf="matchList.length == 0 "> No match available in this week</div>
                        <div class="col-md-9" *ngIf="matchList.length > 0">
                            <ul class="week-matches">
                                <li class="match-block" (click)="toggleMatchSelection('all')" [ngClass]="{'active': matchList.length == selectedMatches.length}">
                                    <a href="javascript:void(0)" >
                                        <span class="opt-all-matches"> Select All </span>
                                    </a>
                                </li>
                                <li *ngFor="let match of  matchList" class="match-block" (click)="toggleMatchSelection(match.season_game_unique_id)" [ngClass]="{'active': selectedMatches.indexOf(match.season_game_unique_id) > -1}">
                                    <a href="javascript:void(0)" >
                                        <span class="team-abbr" > {{ match.home_team_abbr }} VS {{ match.away_team_abbr }}</span>
                                        <span class="match-datetime" > {{match.season_scheduled_date}} </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="salaryCap">Salary Cap</label>
                        <div class="col-md-9">
                            <select class="form-control" id="salaryCap" name="salaryCap" [(ngModel)]="params.salaryCap">
                                <option value="0">Please select</option>
                                <option *ngFor="let salary of salaryCap" [value]="salary.master_salary_cap_id">{{ salary.salary_cap }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Entry Fees</label>
                        <div class="col-md-9">
                            <input class="form-control" id="text-input" type="text" name="text-input" placeholder="Text">
                            <span class="help-block">This is a help text</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Size</label>
                        <div class="col-md-9">
                            <input class="form-control" id="text-input" type="text" name="text-input" placeholder="Text">
                            <span class="help-block">This is a help text</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Site Rake</label>
                        <div class="col-md-9">
                            <input class="form-control" id="text-input" type="text" name="text-input" placeholder="Text">
                            <span class="help-block">This is a help text</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Prize Pool</label>
                        <div class="col-md-9"> </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="select1">Prize Payout Type</label>
                        <div class="col-md-9">
                            <select class="form-control" id="select1" name="select1">
                                <option value="0">Please select</option>
                                <option value="1">Option #1</option>
                                <option value="2">Option #2</option>
                                <option value="3">Option #3</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Prize Structure</label>
                        <div class="col-md-9"> </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Is Featured Contest</label>
                        <div class="col-md-9 col-form-label">
                            <div class="form-check form-check-inline mr-1">
                                <input class="form-check-input" id="inline-checkbox1" type="checkbox" value="check1">
                                <label class="form-check-label" for="inline-checkbox1">One</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-dot-circle-o"></i> Submit</button>
                <button class="btn btn-sm btn-danger" type="reset"><i class="fa fa-ban"></i> Reset</button>
            </div>
        </div>
    </div>
</div>
