<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item" routerLinkActive="open">
        <a class="nav-link" href="javascript:void(0);" [routerLink]="['/dashboard']" routerLinkActive="active" >
          <i class="nav-icon icon-speedometer"></i> Dashboard
        </a>
      </li>
      <li class="nav-item nav-dropdown" >
        <a class="nav-link nav-dropdown-toggle" href="javascript:void(0);">
          <i class="nav-icon icon-game-controller"></i> Contest</a>
        <ul class="nav-dropdown-items">
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0);" [routerLink]="['/contest/new']" routerLinkActive="active">
                <i class="nav-icon icon-pencil"></i> Create</a>
            </li>
            <li class="nav-item" routerLinkActive="open">
              <a class="nav-link" href="javascript:void(0);" [routerLink]="['/contest/list']" routerLinkActive="active">
                <i class="nav-icon icon-list"></i> Listing</a>
            </li>
        </ul>
      </li>
      <li class="nav-item nav-dropdown">
        <a class="nav-link nav-dropdown-toggle" href="javascript:void(0);">
          <i class="nav-icon icon-feed"></i> Feed Data</a>
        <ul class="nav-dropdown-items">
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);" [routerLink]="['/feed/leagues']" routerLinkActive="active">
                  <i class="nav-icon icon-list"></i> Leagues </a>
              </li>
            <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);" [routerLink]="['/feed/teams']" routerLinkActive="active">
              <i class="nav-icon icon-list"></i> Teams</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);" [routerLink]="['/feed/fixtures']" routerLinkActive="active" >
              <i class="nav-icon icon-list"></i> Schedules</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);" [routerLink]="['/feed/players']" routerLinkActive="active">
              <i class="nav-icon icon-list"></i> Players</a>
          </li>
        </ul>
      </li>
      <li class="nav-item open" routerLinkActive="open">
          <a class="nav-link" href="javascript:void(0);" [routerLink]="['/user']" routerLinkActive="active"  >
            <i class="nav-icon icon-user"></i> Users</a>
        </li>
    </ul>
  </nav>
  <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>
