<!-- /.row-->
<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> Team Listing
            <div class="row">
                <div class="input-group col-sm-4">
                    <input class="form-control" [(ngModel)]="params['keyword']" (keyup)="applyFilter()" id="search_keyword" type="text" name="search_keyword"  placeholder="Search by name">
                </div>

                <div class="form-group col-sm-4">
                    <select class="form-control" [(ngModel)] = "params['league_id']" (change)="applyFilter()" >
                        <option value="">Select a type</option>
                        <option *ngFor="let league of LeagueList" value="{{league.league_id}}">{{league.league_abbr}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="card-body">
          <table class="table table-responsive-sm table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>ID</th>
                <th>Abbreviation </th>
                <th>Name</th>
                <th>Bye Week</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let team of TeamList" >
                <td>{{ team.team_id }}</td>
                <td>{{ team.team_abbr }}</td>
                <td>{{ team.team_name }}</td>
                <td>{{ team.bye_week }}</td>
              </tr>
            </tbody>
          </table>
          <nav *ngIf="totalTeams > params.items_perpage">
            <ul class="pagination">
              <li class="page-item" *ngIf="params.current_page > 1" >
                <a class="page-link" href="javascript:void(0);" (click)="nextOrPreviousPage(-1)">Prev</a>
              </li>
              <li class="page-item active" [ngClass]="{'active': (page == params.current_page)}"  *ngFor="let page of totalPaginationShow">
                <a class="page-link" href="javascript:void(0);" (click)="paginateList(page)">{{ page }}</a>
              </li>
              <li class="page-item" *ngIf="params.current_page != totalPages">
                <a class="page-link" href="javascript:void(0);" (click)="nextOrPreviousPage(1)">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
