<footer class="app-footer">
  <div>
    <span>&copy; 2019 GammaStack.</span>
  </div>
  <div class="ml-auto">
    <span>Powered by</span>
    <a href="https://www.gammastack.com" target="_blank"> GammaStack</a>
  </div>
</footer>
