<!-- /.row-->
<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Contest Listing
          <div class="input-group">
                <span class="input-group-prepend">
                  <button class="btn btn-primary" type="button" (click)="searchFilter();">
                    <i class="fa fa-search"></i> Search</button>
                </span>
                <input class="form-control" [(ngModel)]="params['keyword']" id="search_keyword" type="text" name="search_keyword" placeholder="Username" placeholder="Search by name, email">
              </div>
        </div>
        <div class="card-body">
          <table class="table table-responsive-sm table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Name</th>
                <th>League</th>
                <th>Start At</th>
                <th>Entry Fee</th>
                <th>Rewards</th>
                <th>Size</th>
                <th>Total User Joined</th>
                <th>Status</th>
                <th>Featured</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let contest of contestList " >
                <td>{{ contest.contest_name }}</td>
                <td>{{ leagues[contest.league_id] }}</td>
                <td>{{ contest.start_at }}</td>
                <td>{{ contest.entry_fee }}</td>
                <td>{{ contest.rewards }}</td>
                <td>{{ contest.size }}</td>
                <td>{{ contest.total_user_joined }}</td>
                <td>
                    <span class="badge" [ngClass]="{'badge-success': (contest.status == 1 || contest.status == 2 || contest.status == 5 ), 'badge-secondary': (contest.status == 3), 'badge-danger': (contest.status == 4)}"
                    >{{contestStatus[contest.status] }}</span>
                </td>
                <td>
                    <span *ngIf="contest.is_featured == 1" class="badge badge-success" >Yes</span>
                    <span *ngIf="contest.is_featured == 0"class="badge badge-secondary" >--</span>
                </td>
                <td>
                  <a href="javascript:void(0);" >Details</a>
                  <a href="javascript:void(0);" >Edit</a>
                </td>
              </tr>
            </tbody>
          </table>
          <nav *ngIf="totalContest > 0">
            <ul class="pagination">
              <li class="page-item" *ngIf="params.currentPage > 1" >
                <a class="page-link" href="javascript:void(0);" (click)="nextOrPreviousPage(-1)">Prev</a>
              </li>
              <li class="page-item active" [ngClass]="{'active': (page == params.currentPage)}"  *ngFor="let page of totalPaginationShow">
                <a class="page-link" href="javascript:void(0);" (click)="paginateList(page)">{{ page }}</a>
              </li>
              <li class="page-item" *ngIf="params.currentPage != totalPages">
                <a class="page-link" href="javascript:void(0);" (click)="nextOrPreviousPage(1)">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!-- /.col-->
  </div>
  <!-- /.row-->
