﻿<style>
    .alert { text-align: center; position: fixed;   z-index: 9999;    width: 100%}

</style>
<div *ngIf="message"
    [ngClass]="{ 'alert alert-dismissible': message, 'alert-success': message.type === 'success', 'alert-danger': message.type === 'error' }"
    role="alert">
    <span [innerHTML]="message.text | safe: 'html'"></span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="alertDismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
