<!-- /.row-->
<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> Player Listing
            <div class="row">
                <div class="form-group col-sm-3">
                    <select class="form-control" [(ngModel)] = "params['league_id']" (change)="applyFilter()" >
                        <option value="">Select a type</option>
                        <option *ngFor="let league of leagues" value="{{league.league_id}}">{{league.league_abbr}}</option>
                    </select>
                </div>
                <div class="form-group col-sm-3">
                    <select class="form-control" [(ngModel)] = "params['team_abbr']" (change)="applyFilter()" >
                        <option *ngFor="let team of teams" value="{{ team.team_abbr }}">
                            {{ team.team_name }}
                        </option>
                    </select>
                </div>
                <div class="form-group col-sm-3">
                    <select class="form-control" [(ngModel)] = "params['position']" (change)="applyFilter()" >
                        <option *ngFor="let position of playerPositions" value="{{ position.position_value }}">{{ position.position }} </option>
                    </select>
                </div>
                <div class="input-group col-sm-3">
                    <input class="form-control" [(ngModel)]="params['keyword']" (keyup)="applyFilter()" id="search_keyword" type="text" name="search_keyword"  placeholder="Search by name">
                </div>
            </div>
        </div>
        <div class="card-body">
          <table class="table table-responsive-sm table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Player ID</th>
                <th>Name</th>
                <th>Position</th>
                <th>Team Name</th>
                <th>Injury Status</th>
                <th>Status</th>
                <th>Salary ($)M</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let player of players" >
                <td>{{ player.player_unique_id }}</td>
                <td>{{ player.full_name }}</td>
                <td>{{ player.position }}</td>
                <td>{{ player.team_name }}, {{ player.team_abbreviation }} </td>
                <td>{{ player.injury_status }}</td>
                <td>

                        <span class="badge" [ngClass]="{'badge-success': (player.player_status == 1), 'badge-secondary': (player.player_status == 0), 'badge-danger': (player.player_status == 2)}">
                            {{ playerStatus[player.player_status] }}
                        </span>

                </td>
                <td> {{ player.salary }}</td>
                <td>
                    <a href="javascript:void(0);" (click)="showStatusModal(player)" data-toggle="modal" data-target="#playerStatusModal">Edit</a>
                </td>
              </tr>
            </tbody>
          </table>
          <nav *ngIf="totalPlayers > params.items_perpage">
            <ul class="pagination">
              <li class="page-item" *ngIf="params.current_page > 1" >
                <a class="page-link" href="javascript:void(0);" (click)="nextOrPreviousPage(-1)">Prev</a>
              </li>
              <li class="page-item active" [ngClass]="{'active': (page == params.current_page)}"  *ngFor="let page of totalPaginationShow">
                <a class="page-link" href="javascript:void(0);" (click)="paginateList(page)">{{ page }}</a>
              </li>
              <li class="page-item" *ngIf="params.current_page != totalPages">
                <a class="page-link" href="javascript:void(0);" (click)="nextOrPreviousPage(1)">Next</a>
              </li>
            </ul>
            <div class="pagination-total-result"> Total Result : {{ totalPlayers }}</div>
          </nav>
        </div>
      </div>
    </div>
    <!-- /.col-->
    <div id="here"> </div>
  </div>
  <!-- /.row-->

   <!-- Status modal-->
   <div class="modal fade" id="playerStatusModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Status Update</h4>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="update_player_error" >{{ updatePlayerError }}</div>

            <label>Player Name </label> - <strong>{{editPlayer['full_name']}}</strong> <br>
            <label>Status </label> - <strong>{{ playerStatus[editPlayer['player_status']] }}</strong>  <br>

            <div class="row">
                <div class="form-group col-sm-6"> Status Change to </div>
                <div class="form-group col-sm-6">
                    <select class="form-control" [(ngModel)]="updatePlayerParams['status']" >
                        <option value=""> Select status</option>
                        <option value="1"> Active</option>
                        <option value="0"> Inactive</option>
                        <option value="2"> Delete</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6"> Salary </div>
                <div class="form-group col-sm-6">
                    <input class="form-control" [ngClass]="{'is-invalid': updatePlayerParams['salary'] < 0 }" [(ngModel)]="updatePlayerParams['salary']"  id="updated_salary" type="number" min="0" name="updatedSalary"  placeholder="Salary">
                    <div class="invalid-feedback" >Please enter salary greater than zero</div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6"> Injury Status </div>
                <div class="form-group col-sm-6">
                    <input class="form-control" [(ngModel)]="updatePlayerParams['injury']"  id="updated_injury" type="text" name="updatedInjury"  placeholder="Injury" maxlength="100">
                </div>
            </div>

        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
          <button class="btn btn-primary" type="button" (click)="updatePlayerStatus()">Update</button>
        </div>
      </div>
      <!-- /.modal-content-->
    </div>
    <!-- /.modal-dialog-->
  </div>
  <!-- Status modal-->
