.pagination {
    float: left;
    width: 75%;
}

.pagination-total-result {
    float: right;
    padding-top: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #777777;
}

.update_player_error {
    color: red;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
}
