<!-- /.row-->
<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> User Listing
            <div class="row">
                <div class="form-group col-sm-3">
                    <select class="form-control" [(ngModel)] = "params['league_id']" (change)="applyFilter()" >
                        <option value="">Select a type</option>
                        <option *ngFor="let league of LeagueList" value="{{league.league_id}}">{{league.league_abbr}}</option>
                    </select>
                </div>
                <div class="form-group col-sm-3">
                    <select class="form-control" [(ngModel)] = "params['team_id']" (change)="applyFilter()" >
                        <option *ngFor="let team of teamList" value="{{ team.team_id }}">
                            {{ team.team_name }}
                            <span *ngIf="team.team_abbr">, {{ team.team_abbr }} </span>
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="card-body">
          <table class="table table-responsive-sm table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Match ID</th>
                <th>Home</th>
                <th>Away</th>
                <th>Scheduled Date-Time </th>
                <th>Status</th>
                <th>Type</th>
                <th>Week</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let match of matchList" >
                <td>{{ match.season_game_unique_id }}</td>
                <td>{{ match.home }}</td>
                <td>{{ match.away }}</td>
                <td>{{ match.season_scheduled_dates }} </td>
                <td>{{ (match.status)? match.status: '--' }}</td>
                <td>{{ match.type }} </td>
                <td>{{ match.week}}</td>
                <td>
                  <a href="javascript:void(0);" >Details</a>
                </td>
              </tr>
            </tbody>
          </table>
          <nav *ngIf="totalMatches > params.items_perpage">
            <ul class="pagination">
              <li class="page-item" *ngIf="params.current_page > 1" >
                <a class="page-link" href="javascript:void(0);" (click)="nextOrPreviousPage(-1)">Prev</a>
              </li>
              <li class="page-item active" [ngClass]="{'active': (page == params.current_page)}"  *ngFor="let page of totalPaginationShow">
                <a class="page-link" href="javascript:void(0);" (click)="paginateList(page)">{{ page }}</a>
              </li>
              <li class="page-item" *ngIf="params.current_page != totalPages">
                <a class="page-link" href="javascript:void(0);" (click)="nextOrPreviousPage(1)">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!-- /.col-->
  </div>
  <!-- /.row-->
